.container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.perhitungan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center ;
}
